# PDM / Virtualenv
.venv/
__pypackages__/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / OS specific
.idea/
.vscode/
*.DS_Store

roadmap.txt
roadmap.md

# ignore keypairs
*.pem

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*